<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<app-about-text></app-about-text>
<section class="counter-area counter-area-4 pt-120 pb-200 bg_cover" [style.background-image]="'url(assets/images/counter-bg.jpg)'">
    <div class="shape-box">
        <img src="assets/images/shape/shape-7.png" class="shape-1" alt="">
        <img src="assets/images/shape/shape-7.png" class="shape-2" alt="">
    </div>
    <div class="ovent-overlay"></div>
    <div class="container">
        <div class="counter-box">
            <app-counter></app-counter>
        </div>
    </div>
</section>
<app-video></app-video>
<app-footer [layout]="classname" [logo]="ftlogo" [bg]="ftbg"></app-footer>