


/*===========================
    12.	SPONSORS css 
===========================*/

.sponsors-area{
	& .section-title-1{
		& .span{
			background-image: -moz-linear-gradient( 0deg, rgb(219,22,255) 0%, rgb(255,144,209) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(219,22,255) 0%, rgb(255,144,209) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(219,22,255) 0%, rgb(255,144,209) 100%);
		}
	}
	& .sponsors-flex {
		position: relative;
		z-index: 1;
		@media #{$xs}{
			flex-wrap: wrap;
		}
		& .sponsors-item{
			margin: 0 60px;
			margin-bottom: 80px;
			@media #{$xs}{
				margin: 0 30px;
				margin-bottom: 60px;
			}
			@media #{$md}{
				margin: 0 30px;
				margin-bottom: 60px;
			}
			@media #{$lg}{
				margin: 0 30px;
				margin-bottom: 60px;
			}
			@media #{$laptop} {
				margin: 0 30px;
				margin-bottom: 60px;
			}
			& img{
				opacity: .3;
				@include transition(0.3s);
				cursor: pointer;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}


.sponsors-area-2{
	background: #fffafa;
	& .sponsors-flex {
		& .sponsors-item{
			& img{
				opacity: 1;
			}
		}
	}
}


.sponsors-area-3{
	background: #fff7fb;
	position: relative;
	& #curve-1,#curve-2{
		position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 400px;
	    z-index: 1;
	}
	#curve-2{
	}
	.section-title-3{
		& .span{
			color: $theme-color;
		}
	}
}


.speaker-single-section{
	& .ovent-img{
		& img{
			width: 100%;
		}
	}
	& .ovent-content-box{
		padding-left: 40px;
		@media #{$xs}{
			padding-left: 0;
			margin-top: 30px;
		}
		& .title{
			position: relative;
			margin-bottom: 22px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			@media #{$xs}{
				padding-left: 0;
			}
			& .icon{
				@media #{$xs}{
					margin-bottom: 30px;
				}
			}
			& .info{
				padding-left: 25px;
				@media #{$xs}{
					padding-left: 0;
				}
				@media #{$smm}{
					padding-left: 15px;
				}
			}
			& span{
				margin-bottom: 17px;
				@media #{$xs}{
					margin-bottom: 10px;
				}
			}
			& h2{
				@media #{$xs}{
					font-size: 30px;
					line-height: 40px;
				}
				@media #{$xss}{
					font-size: 26px;
					line-height: 36px;
				}
			}
		}
		& h4{
			font-size: 23px;
			color: $theme-color;
			font-family: $karla;
			margin-bottom: 20px;
		}
		& p{
			padding-bottom: 30px;
		}
		& ul{
			& li{
				display: inline-block;
				margin-right: 10px;
				& a{
					display: block;
					width: 74px;
					height: 74px;
					line-height: 74px;
					text-align: center;
					border-radius: 50%;
					border: 2px solid rgb(220, 240, 252);
					font-size: 18px;
					color: #6b93aa;
					@include transition(0.3s);
					@media #{$xs}{
						width: 40px;
						height: 40px;
						line-height: 40px;
						font: 14px;
					}
					&:hover,&:focus{
						color: $white;
						background: $theme-color;
					}
				}
			}
		}
	}
}
