<section class="about-area about-area-v1 pt-120 pb-120" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ovent-img">
                    <img src="assets/images/about-thumb.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ovent-content-box">
                    <div class="section-title section-title-1">
                        <span class="span">Best Professional Ovent 2021</span>
                        <h2>DC Developer Meet Conference</h2>
                    </div>
                    <h4>The biggest largest widest anticipated Digital Web Conference.</h4>
                    <p>Events must be memorable to make an impact. Of course the desired impact depends on your goals,
                        but most companies want events to be more than just a staged advertisement for their brand.</p>
                    <p>When done well, events have the power to create a lasting and powerful impression of all that
                        your company can deliver. Events must be memorable to make an impact. Of course the desired
                        impact depends on your goals, but most companies want.</p>
                    <ul>
                        <li><a class="main-btn" routerLink="/event"><i class="fal fa-ticket"></i> Buy Ticket</a></li>
                        <li><a class="main-btn main-btn-2" routerLink="/about"><i class="fal fa-angle-right"></i> Learn
                                More</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>