<!-- Search From -->
<ng-template #searchModal let-modal>
    <form>
        <div class="form_group input-group">
            <input type="text" class="form_control" placeholder="Search here...">
            <button class="input-group-append search_btn"><i class="far fa-search"></i></button>
        </div>
    </form>
</ng-template>
<!-- Search From -->
<!--====== HEADER PART START ======-->
<header class="header-area header-area-v3">
    <div class="header-navigation" id="sticky-header">
        <div class="custom-container">
            <div class="nav-container d-flex align-items-center justify-content-between"
                [ngClass]="visible ? '' : 'breakpoint-on'" (window:resize)="detectHeader()">
                <!-- site logo -->
                <div class="brand_logo">
                    <a routerLink="/"><img src="assets/images/logo-3.png" class="img-fluid main-logo" alt=""></a>
                    <a routerLink="/"><img src="assets/images/logo-1.png" class="img-fluid sticky-logo" alt=""></a>
                </div>
                <div class="nav-menu" [ngClass]="navMethod ? '' : 'menu-on'">
                    <!-- Navbar Close Icon -->
                    <div class="navbar-close" (click)="toggleNav()">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- nav-menu -->
                    <nav class="main-menu">
                        <ul>
                            <li class="menu-item" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
                                *ngFor="let item of navigation">
                                <a href="javascript:void(0)" (click)="trigger(item)" *ngIf="item.child">{{item.linkText}}</a>
                                <a routerLink="{{item.link}}" *ngIf="!item.child">{{item.linkText}}</a>
                                <ul class="sub-menu" *ngIf="item.child" [ngClass]="item.open ? 'd-block' : ''">
                                    <li class="menu-item" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
                                        *ngFor="let item of item.submenu">
                                        <a href="javascript:void(0)" (click)="trigger(item)" *ngIf="item.child">{{item.linkText}}</a>
                                        <a routerLink="{{item.link}}" *ngIf="!item.child">{{item.linkText}}</a>
                                        <ul class="sub-menu" *ngIf="item.child" [ngClass]="item.open ? 'd-block' : ''">
                                            <li class="menu-item" *ngFor="let item of item.submenu">
                                                <a routerLink="{{item.link}}">{{item.linkText}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="nav-pushed-item">
                        <div class="navbar-btn">
                            <a class="main-btn" routerLink="/event"><i class="fal fa-ticket"></i> Buy Ticket</a>
                        </div>
                    </div>
                </div>
                <!-- Navbar Toggler -->
                <div class="menu-icon-box">
                    <div class="search-icon">
                        <a href="javascript:void(0)" (click)="modalOpen(searchModal)"><i class="far fa-search"></i></a>
                    </div>
                    <div class="navbar-toggler" [ngClass]="navMethod ? '' : 'active'" (click)="toggleNav()">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <div class="nav-push-item" [ngClass]="visible ? '' : 'd-none'" (window:resize)="detectHeader()">
                    <div class="navbar-btn">
                        <a class="main-btn" routerLink="/event"><i class="fal fa-ticket"></i> Buy Ticket</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--====== HEADER PART ENDS ======-->