<section class="banner-area banner-area-v3">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner-content">
                    <span>12/A, Miami City, UK</span>
                    <h1>Business Conference</h1>
                    <ul>
                        <li><a class="main-btn" routerLink="/event"><i class="fal fa-ticket"></i>Buy Ticket</a></li>
                        <li>
                            <a class="main-btn main-btn-2" routerLink="/about">
                                <i class="fal fa-angle-right"></i>
                                Learn More
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>