<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let item of speaker | slice:0:8">
        <div class="team-item mt-40">
            <div class="team-thumb">
                <img [src]="item.img" [alt]="item.name">
                <a routerLink="/speaker-details/{{item.id}}"><i class="fas fa-plus"></i></a>
            </div>
            <div class="team-content text-center">
                <h3 class="title">
                    <a routerLink="/speaker-details/{{item.id}}">{{item.name}}</a>
                </h3>
                <span>{{item.post}}</span>
            </div>
        </div>
    </div>
</div>