<section class="intro-video-area video-area-v2 bg_cover pt-120" [style.background-image]="'url(assets/images/video-2.jpg)'">
    <div class="ovent-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title section-title-3 text-center">
                    <span class="span">Intro Video</span>
                    <h2>Make Some Noise With us.</h2>
                </div>
                <div class="intro-video-play text-center">
                    <a class="video-popup" href="#"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>