<section class="app-promo app-promo-v1 pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="ovent-content-box">
                    <div class="section-title section-title-2 mb-25">
                        <span class="span">05</span>
                        <h2>Meet With Our Mobile App</h2>
                    </div>
                    <h4>The biggest largest widest anticipated Digital Web Conference.</h4>
                    <p>Events must be memorable to make an impact. Of course the desired impact depends on your goals,
                        but most companies want events to be more than just a staged advertisement for their brand.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="app-img-box">
                    <img src="assets/images/app-1.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>