<section class="banner-area-v2" [style.background-image]="'url(assets/images/banner-bg-df.jpg)'">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content">
                    <span>Friday, May 28, 2021</span>
                    <h1>DeFi Finance Conference</h1>
                    <ul>
                      <li><a class="main-btn" [href]="registerLink"><i class="fal fa-video"></i> Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape">
        <img src="assets/images/shape/shape-2.png" class="shape-1" alt="">
        <img src="assets/images/shape/shape-3.png" class="shape-2" alt="">
    </div>
</section>
