<section class="banner-area-v2" [style.background-image]="'url(assets/images/banner-bg-2.jpg)'">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content">
                    <span>Make some noise with us</span>
                    <h1>Digital Developer Conference</h1>
                    <ul>
                        <li><a class="main-btn" routerLink="/event"><i class="fal fa-ticket"></i> Buy Ticket</a></li>
                        <li><a class="main-btn main-btn-2" routerLink="/about"><i class="fal fa-angle-right"></i> Learn
                                More</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape">
        <img src="assets/images/shape/shape-2.png" class="shape-1" alt="">
        <img src="assets/images/shape/shape-3.png" class="shape-2" alt="">
    </div>
</section>