<section class="event-benifits pb-120">
    <div class="benifits-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <span>Best Professional Ovent 2021</span>
                        <h2>Your Benifits Meet Conference</h2>
                    </div> 
                    <div class="ovent-content-box">
                        <h4>The biggest largest widest anticipated Digital Web Conference.</h4>
                        <p>Events must be memorable to make an impact. Of course the desired impact depends on your goals, but most companies want events to be more than just a staged advertisement for their brand.</p>
                        <p>When done well, events have the power to create a lasting and powerful impression of all that your company can deliver. Events must be memorable to make an impact. Of course the desired impact depends on your goals, but most companies want.</p>
                        <ul>
                            <li><a routerLink="/contact" class="main-btn"><i class="fal fa-ticket"></i>Buy Ticket</a></li>
                            <li><a routerLink="/about" class="main-btn main-btn-2"><i class="fal fa-angle-right"></i>Learn More</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ovent-img">
                        <img src="assets/images/event-13.jpg" class="img-fluid" alt="">
                        <div class="play-button">
                            <a href="#" class="video-popup"><i class="far fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>