<section class="contact-info-area">
    <div class="contact-item-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-item item-1 text-center">
                        <i class="fal fa-clock"></i>
                        <h3 class="title">Time & Shedule</h3>
                        <p>01 Mar, 2021 <br>10:00 am – 11:00 am</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-item item-2 text-center">
                        <i class="fal fa-map-marker-alt"></i>
                        <h3 class="title">Area & Direction</h3>
                        <p>503 Old Buffalo Street<br>New York, US</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-item item-3 text-center">
                        <i class="fal fa-ticket-alt"></i>
                        <h3 class="title">Ticket Info</h3>
                        <p><span class="email">Support:<a href="mailto:info@example.com">info@example.com</a></span></p>
                        <p><span class="phone">Call: <a href="tel:908989798786">908 989 798 78 6</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>