<app-header-two></app-header-two>
<app-banner></app-banner>
<section class="sponsors-area sponsors-area-2 pt-120 pb-120">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <app-sponsers></app-sponsers>
            </div>
        </div>
    </div>
</section>
<app-about></app-about>
<section class="counter-area counter-area-2 pt-120 pb-120">
    <div class="shape_img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title section-title-2 text-center mb-70">
                    <span class="span">02</span>
                    <h2>Some Fun Facts</h2>
                </div>
            </div>
        </div>
        <div class="counter-box">
            <app-counter></app-counter>
        </div>
    </div>
</section>
<app-team></app-team>
<app-filter-event-two></app-filter-event-two>
<app-apps></app-apps>
<app-contact></app-contact>
<app-blogpost></app-blogpost>
<app-footer [layout]="classname" [logo]="ftlogo" [bg]="ftbg"></app-footer>