<!--====== contact-area-v3 START ======-->
<section class="contact-area-v3 pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title contact-title-1 mb-50">
                    <span>get in touch</span>
                    <h2>Let’s Make Any Question Here.</h2>
                </div>
                <div class="contact-form">
                    <form id="contact-form" (submit)="sendEmail($event)">
                        <div *ngIf="formResponse" class="alert alert-{{formStatus}}" [innerHTML]="formResponse"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <input type="text" class="form_control" placeholder="Enter your name" name="from_name" required>
                                    <i class="fal fa-user"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <input type="email" class="form_control" placeholder="Enter your email" name="to_email" required>
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_group">
                                    <textarea class="form_control" placeholder="Enter your message" name="message_html" required></textarea>
                                    <i class="fal fa-edit"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form_button">
                                    <button class="main-btn">Submit Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title contact-title-2 mb-50">
                    <span>here we are</span>
                    <h2>Just Meet With Us Here. ThnQ</h2>
                </div>
                <div class="contact-information">
                    <div class="info-box box-1">
                        <div class="icon">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="info">
                            <h4>Phone Number</h4>
                            <span><a href="tel:+78001234569">+7 (800) 123 45 69</a></span>
                        </div>
                    </div>
                    <div class="info-box box-2">
                        <div class="icon">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="info">
                            <h4>Email Address</h4>
                            <span><a href="mailto:info@example.com">info@example.com</a></span>
                        </div>
                    </div>
                    <div class="info-box box-3">
                        <div class="icon">
                            <i class="fal fa-map"></i>
                        </div>
                        <div class="info">
                            <h4>Office Address</h4>
                            <span>PO Box 97845 Baker st. 567, Los Angeles, California, US.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== contact-area-v3 END ======-->
<!--====== Ovent Map START ======-->
<section class="ovent-map">
    <div class="map-box">
        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=dhaka&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
        <div class="marker">
            <img src="assets/images/icon/marker.png" alt="">
        </div>
    </div>
</section>
<!--====== Ovent Map END ======-->