<section class="about-area about-area-v2 pt-120 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-title section-title-2">
                    <span class="span">01</span>
                    <h2>DC Developer Meet Conference</h2>
                </div>
                <div class="ovent-content-box">
                    <h4>The biggest largest widest anticipated Digital Web Conference.</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box box-1">
                                <i class="fal fa-map-marker-alt"></i>
                                <h4>Where Is It?</h4>
                                <p>13/A, Velka City Town Hall Fid Street New York, USA</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box box-2">
                                <i class="fal fa-clock"></i>
                                <h4>When It’s Start?</h4>
                                <p>Sunday to Wednesday<br>June 22 to 25, 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ovent-img">
                    <img src="assets/images/about-2.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>