<section class="blog-grid-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6" *ngFor="let item of blogpost | paginate: { itemsPerPage: 8, currentPage: page }">
                        <div class="blog-item mb-40">
                            <div class="blog-img">
                                <img [src]="item.img" class="img-fluid" [alt]="item.title">
                            </div>
                            <div class="blog-content">
                                <h3><a routerLink="/blog-details/{{item.id}}">{{item.title}}</a></h3>
                                <p>{{item.shortdesc | slice:0:100}}</p>
                                <div class="post-meta">
                                    <span><i class="fal fa-calendar-alt"></i><a
                                            routerLink="/blog-details/{{item.id}}">{{item.postdate}}</a></span>
                                    <span><i class="fal fa-user"></i> By <a routerLink="/blog/author/{{user.id}}"
                                            *ngFor="let user of getAuthor(item.author)">{{user.name}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pagination justify-content-center mt-30">
                            <pagination-controls (pageChange)="page = $event" responsive="true" previousLabel="<" nextLabel=">">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 grid-view">
                <app-blog-sidebar></app-blog-sidebar>
            </div>
        </div>
    </div>
</section>