<breadcrumb #parent>
    <section class="breadcrumbs-area bg_cover" [style.background-image]="'url(assets/images/breadcrumbs-area.jpg)'">
        <div class="ovent-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                        <div class="breadcrumbs-content text-center">
                            <h1>{{ route.displayName }}</h1>
                            <ul>
                                <li><a routerLink="/">Home</a></li>
                                <li *ngIf="!route.terminal">
                                    <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                                </li>
                                <li *ngIf="route.terminal" aria-current="page">{{ route.displayName }}</li>
                            </ul>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </section>
</breadcrumb>