<footer [class]="layout" [style.background-image]="'url('+ bg +')'">
    <div class="ovent-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="footer-content-area text-center">
                    <div class="content-box">
                        <a routerLink="/"><img [src]="logo" alt="img"></a>
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/speakers">Speakers</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="social-box">
                        <ul>
                            <li><a href="https://twitter.com/defiappcon"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="mailto:defiappconference@gmail.com"><i class="fal fa-envelope"></i></a></li>
                            <li><a [href]="registrationLink"><i class="fas fa-link"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<app-back-to-top></app-back-to-top>
