<footer [class]="layout" [style.background-image]="'url('+ bg +')'">
    <div class="ovent-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="footer-content-area text-center">
                    <div class="content-box">
                        <a routerLink="/"><img [src]="logo" alt="img"></a>
                        <p>For over 50 years, the Consumer Electronics Show (CES) has been the starting point for the newest technologies and innovations in the world. Held in Las Vegas, CES is the global gathering place for all those involved in consumer technologies.</p>
                        <ul>
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/speakers">Speakers</a></li>
                            <li><a routerLink="/contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="social-box">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<app-back-to-top></app-back-to-top>